<html lang="pt-br" xml:lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="/assets/imagens/favicon.ico">
    <title> jogo Da Velha </title>
    <link rel="stylesheet" href="style.scss">
    <link rel="stylesheet" href="views/bingo/bingo.css">
    <script src="views/bingo/bingo.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            console.log('bingo !!!');
        });
    </script>
</head>

<body class="body-index">
    <nav class="alinhar-texto">
        <strong class="white-text">Bingo</strong>
    </nav>
    <section class="section-index">
        <a href="bingo-mostrador" target="_blank"  >
            mostrador
        </a>
        <a href="bingo-sortear" target="_blank">
            sortear
        </a>
    </section>
</body>

</html>