.btn {
    border: none;
    background: linear-gradient(346deg, #fdcd3b 60%, #c0b024 60%);
}


.mensagem {
    height: 40px;
    padding: 5px;
    color: white;
    border-radius: 4px;
    font-size: 30px;  
    font-weight: bold;
    justify-content: center;
}

.mensagem-cor {
    background-color: rgb(248, 0, 21);
}

.jogador-cor {
    background-color: rgb(0, 178, 248);
}

.game-space{  
    display: flex;
    width: 100%; 
    align-items: center;
    flex-direction: column;     
}

.game-space  > * {  
    margin: 6px 0;    
}


.game, .mensagem{
    display: flex;
    width: 486px;
}

.game {
    background-color: rgb(24, 35, 49);
    align-content: center;      
    flex-direction: row;
    flex-wrap: wrap;
    
}

.local-jogada {
    display: flex;
    width: 150px;
    height: 150px;    
    padding: 6px;   
}

.local-jogada span {
    font-weight: bold;
    color: white;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
    height: 100%;
    width: 100%;
    border-radius: 13px;
} 