<html lang="pt-br" xml:lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> jogo Da Velha </title>
    <link rel="stylesheet" href="style.scss">
    <link rel="stylesheet" href="views/jogoDaVelha/jogoDaVelha.css">
    <script src="views/jogoDaVelha/jogoDaVelha.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            jogoDaVelha.init(document.querySelector('#game'));            
            jogoDaVelha.jogadores = JSON.parse(document.getElementById('jogadores').value);
            jogoDaVelha.draw();
        });
    </script>
</head>

<body class="body-index">
    <input id="jogadores" type="hidden" value="<%=JSON.stringify(dados)%>">
    <menu class="alinhar-texto">
        <strong class="white-text">JOGO DA VELHA</strong>
    </menu>
    <section class="section-index">

        <div class="game-space">
            <button id='mensagens' class="mensagem mensagem-cor" style="display: none;"> </button>
            <button id="jogar-de-novo" class="btn mensagem" onclick="jogoDaVelha.jogarDeNovo()" style="display: none;">
                JOGAR DE NOVO
            </button>
        </div>
        <div id="game" class="game-space"> </div>
    </section>
</body>

</html>